slnx.sqlite
/hada-grupal/obj/Debug

#archivos de la solución
#*.sln

#carpeta Debug
[Db]ebug/

#archivo de BBDD
#*.mdf

#carpeta .vs
/hada-grupal/.vs
/hada-grupal/iquea/.vs

#carpeta bin
/hada-grupal/iqueaWeb/bin
/hada-grupal/iquea/bin

#carpeta obj
/hada-grupal/iqueaWeb/obj
/hada-grupal/iquea/obj

