body {
    background-image: url(https://www.gaulan.es/485435/raya-magic-stars-120201.jpg);
}

.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0051BA;
    color: white;
    text-align: center;
}

.enlace {
    color: white;
}

.toolbar {
    text-align: center;
    top: -50px;
    position: relative;
}

.logo {
    position: relative;
    top: 5px;
    position: relative;
}

.menu {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0051BA;
    color: white;
    text-align: center;
}



.final {
    width: 500px;
    float: left;
}

.final2 {
    width: 500px;
    float: left;
}

.oferta {
}

.arreglo {
    float: none;
}



