body {
    background-color: lightblue;
}

.footer {
<<<<<<< HEAD
    position: fixed;
=======
>>>>>>> 23813883M
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0051BA;
    color: white;
    text-align: center;
}

.enlace {
    color: white;
}

.toolbar {
    text-align: center;
<<<<<<< HEAD
    top: -50px;
    position: relative;
=======
    top: -60px;
    position: relative;
    left: 1px;
    height: 0px;
>>>>>>> 23813883M
}

.logo {
    position: relative;
    top: 5px;
    position: relative;
}

.menu {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0051BA;
    color: white;
    text-align: center;
<<<<<<< HEAD
=======
    height: 1px;
>>>>>>> 23813883M
}
