body {
    background-color: lightblue;
}

.footer {
    position=relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0051BA;
    color: white;
    text-align: center;
}

.enlace {
    color: white;
}

.toolbar {
    text-align: center;
    top: -50px;
    position: relative;
}

.logo {
    position: relative;
    top: 5px;
    position: relative;
}

.menu {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0051BA;
    color: white;
    text-align: center;
}



.menuInicio {
    background-color: #0051BA;
}
.menuInicio ul {
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menuInicio ul li {
    display: inline-block;
}

.menuInicio ul li a{
    color:white;
    display:block;
    padding:20px 160px;
    text-decoration:none;
}

.menuInicio ul li a:hover {
    background-color:aqua;
}

.submenu {
    background-color: burlywood;
    display: inline-block;
    display:none;
}

submenu li a:hover .submenu{

}
